@model IEnumerable<CarritoDeCompras.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaImagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <img src="/Images/@Html.DisplayFor(modelItem => item.RutaImagen)" />
                @*@Html.DisplayFor(modelItem => item.RutaImagen)*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProducto" class="btn btn-warning" style="font-weight: bold; font-size: medium; font-family: Arial, Helvetica, sans-serif;" >Edit</a> 
                <a asp-action="Details" asp-route-id="@item.IdProducto" class="btn btn-info" style="font-weight: bold; font-size: medium; font-family: Arial, Helvetica, sans-serif;" >Details</a> 
                <a asp-action="Delete" asp-route-id="@item.IdProducto" class="btn btn-danger" style="font-weight: bold; font-size: medium; font-family: Arial, Helvetica, sans-serif;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
