@model IEnumerable<CarritoDeCompras.Models.ProductoMostrable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carrito</h1>

@*@if (@Model.Subtotal == 0)
{
    <p>El carrito esta vacio.</p>
}
else
{*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Total producto
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.producto.Descripcion</td>
                    <td>@item.producto.Marca</td>
                    <td>@item.cantidadProducto @(item.cantidadProducto > 1 ? "unidades" : "unidad")</td>
                    <td>$ @item.producto.Precio</td>
                    <td>$ @(item.producto.Precio * item.cantidadProducto)</td>
                    <td>
                        <a asp-action="QuitarItemDelCarrito" asp-route-id="@item.producto.IdProducto">Quitar del carrito</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>Subtotal: $1500 <span>+ 21% IVA</span></p>

    <form asp-action="Create" asp-controller="Compras" method="post">
        <a class="btn btn-danger" asp-action="VaciarCarrito">Vaciar Carrito</a>
        @*<input type="hidden" value="@Model.CarritoId" name="carritoId"/>*@
        <button class="btn btn-primary" type="submit">Finalizar compra</button>
    </form>
@*}*@