@model IEnumerable<CarritoDeCompras.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorías</h1>

<p>
    <a asp-action="Create">Crear nueva categoría</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.IdCategoria">Edit</a> |
                <a asp-action="Detalles" asp-route-id="@item.IdCategoria">Details</a> |
                <a asp-action="Eliminar" asp-route-id="@item.IdCategoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
