@model IEnumerable<CarritoDeCompras.Models.Marca>

@{
    ViewData["Title"] = "Index";
}

<h1>Marcas</h1>

<p>
    <a asp-action="Create">Crear nueva marca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.IdMarca">Edit</a> |
                <a asp-action="Detalles" asp-route-id="@item.IdMarca">Details</a> |
                <a asp-action="Eliminar" asp-route-id="@item.IdMarca">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
