@model IEnumerable<CarritoDeCompras.Models.Marca>

@{
    ViewData["Title"] = "Index";
}

<h1>Marcas</h1>

<p>
    <a asp-action="Create">Crear nueva marca</a>
</p>

@{
    if(ViewBag.Mensaje != null)
    {
        <div class="form-floating mb-3">
            <div class="alert alert-danger" role="alert">
                @ViewBag.Mensaje
            </div>
        </div>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMarca">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMarca">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMarca">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
